<!--

See:

http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html

http://logback.qos.ch/manual/configuration.html

https://github.com/spring-projects/spring-boot/blob/master/spring-boot/src/main/resources/org/springframework/boot/logging/logback/base.xml

-->

<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />
</configuration>
